process {
  withLabel: 'low' {
    cpus   = 2
    memory = '8.GB'
    time   = '1.h'
  }
  withLabel: 'medium' {
    cpus   = 8
    memory = '32.GB'
    time   = '4.h'
  }
  withLabel: 'high' {
    cpus   = 16
    memory = '64.GB'
    time   = '12.h'
  }
  withLabel: 'regenie_step1' {
    cpus   = 16
    memory = '120.GB'
    time   = '24.h'
  }
  withLabel: 'regenie_step2' {
    cpus   = 4
    memory = '16.GB'
    time   = '4.h'
    scratch = true
  }
}
