process {
  executor = 'slurm'
  // queue    = 'compute'
  
  // Custom scratch per process if needed can be set in base.config
  // scratch = true by default for I/O intensive processes like regenie_step2.
}

executor {
  name             = 'slurm'
  queueSize        = 200
  pollInterval     = '30 sec'
  submitRateLimit  = '50/1min'
}
